/* Main styles */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&Roboto:300');

@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');

@import url('https://fonts.googleapis.com/css?family=Jua');


/* Variables */

:root {
  --color-win: #78CF82;
  --color-lose: #D94545;
  --color-start: #5b85b7;
  --color-neutral: #445069;
  --color-neutral-light: #D2D2D2;
  --color-keys: #37474F;
  --color-keys-light: #E5E5E5;
  --font-size-large: 60px;
  --font-size-medium: 20px;
  --transition: all .2s ease-in-out;
}

/* main */

* {
  box-sizing: border-box;
}

body {
  justify-content: space-around;
  flex-direction: column;
  display: flex;
  height: 100vh;
  background: #000;
}

li, ol, ul {
  padding: 0;
  display: inline-block;
}

h2 {
  margin: 0;
  text-transform: uppercase;
  font-family: 'Alfa Slab One', cursive;
  font-size: var(--font-size-large);
  text-shadow: 0px 5px 4px #fff;
  letter-spacing: 3px;
  margin: 0;
}

button {
  margin: 6px;
  border: 1px solid transparent;
  border-bottom: 2px solid #a3a3a3;
  padding: .5rem 1rem;
  color: var(--color-keys);
  font-size: var(--font-size-medium);
  background-color: var(--color-keys-light);
  border-radius: 5px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  max-height: 900px;
  text-align: center;
}

.section {
  width: 100%;
  padding: 10px;
}

/*--- get rid of LI text select ---*/
#phrase li {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Title */

.header {
  color: var(--color-start);
}

/* Scoreboard */

.tries {
  /*background-image: url('../images/liveHeart.png'); - original css
  didnt work well displaying the images. */
}

.tries img {
  width: 45px;
}

/* Phrase */

.letter {
  font-size: var(--font-size-medium);
  height: 65px;
  width: 65px;
  padding: 20px 1px 0 1px;
  margin-right: 2px;
  color: transparent;
  background: var(--color-neutral-light);
  border-radius: 5px;
}

.space {
  width: 35px;
}

.show {
  font-family: 'Jua', sans-serif;
  color: #fff;
  background-color: #bb4665;
  border-bottom: 4px solid #89334a;
}

.animation {
  transition: transform 1s cubic-bezier(.7,-0.39,.31,1.38);
  transform: rotate(360deg);
}

/* Keyboard */

.keyrow {
  display: flex;
  justify-content: center;
}

.chosen {
  background: #bb4665;
  border-radius: 5px;
  border-bottom: 2px solid #742c3f;
  font-size: var(--font-size-medium);
  color: #FFFFFF;
}

.wrongchoice {
  background: #000;
  border-radius: 5px;
  border-bottom: 2px solid #000;
  border: 1px solid #858585;
  font-size: var(--font-size-medium);
  color: #FFFFFF;
}

.btn__reset {
  padding: 8px;
  margin: 50px auto;
  background: #FFFFFF;
  border-radius: 5px;
  border-bottom: 3px solid #c5c5c5;
  font-size: var(--font-size-medium);
}
.btn__reset:hover {
  cursor: pointer;
}

.span__text {
  font-family: 'Jua', sans-serif;
  font-size: 20px;
  margin: 20px auto;
}

.btn__retry {
  padding: 8px;
  margin: 20px auto;
  background: #FFFFFF;
  border-radius: 5px;
  font-size: var(--font-size-medium);
  font-family: 'Jua', sans-serif;
  cursor: pointer;
}

/* Overlay */

#overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  color: #FFFFFF;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
}

.title {
  color: #5f5f5f;
}

.start {
  background-color: var(--color-start);
}

.start a {
  color: var(--color-win);
}

.win {
  background-color: var(--color-win);
}

.win a {
  color: var(--color-win);
}

.lose {
  background-color: var(--color-lose);
}

.lose a {
  color: var(--color-lose);
}
